@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins:wght@300;500;800&family=Red+Hat+Display:wght@300&family=Roboto:wght@300&display=swap');



:root {

    /*CORES*/
    --header-bg-color: #272729;
    --footer-bg-color: #010626;
    --main-bg-color: white;
    --fonte-link-color: #1c70ca;

    /*FONTES*/
    --fonte-padrao: 'Plus Jakarta Sans', sans-serif;

}

main:not(.excecao){
    padding: 0 15%;
    text-align: justify;
}

.imgas{
    width: 100%;
}

body {
    margin: 0;
}

.container {
    display: grid;
    margin: 0;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer"
    ;
}



header {
    background-color: #272729;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

main {
    background-color: #faf9f9;
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
    grid-area: main;
    padding: 10px 5%;


}

.section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside {
    margin-left: 10px;
    background-attachment: fixed;
    background-color: #fcfcfc;
    padding: 20px 20px;
    grid-area: aside;
    height: 900px;
}


footer {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.9em;
    color: #fff;
    padding: 50px 0 0 0;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #010626;
}

footer a:hover {
    color: #1c70ca;
}



footer img {
    width: 150px;
}

div footer {
    text-align: justify;
}

h1 footer {

    text-align: center;

}




.nav_links a,
.nav_links li,
button {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none;
}

article a {
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
    color: #010626;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main p,
main h1,
main h2,
aside h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;



}

.noticias h1,
.mais-lidos h1,
.noticias h1,
.ultimasnoticias-aside {
    border-bottom: 1px solid black;
}

main hr {
    margin: 20px;
    border: 1.5px solid rgb(214, 216, 218);
}

.categorias div {
    cursor: pointer;
    min-height: 100px;
    margin: 5px;
    border: 1px solid black;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(5, 75, 158, 1) 100%);
    border-radius: 10px;
    text-align: center;
    color: #fff;

}


.categorias {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ultimasnoticias hr {
    border: 0.5px solid black;
}

.ultimasnoticias-aside{

}

.logo img {
    width: 200px;
}

nav {
    justify-content: space-between;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

header button {
    background-color: #1c70ca;
    border-radius: 50px;

}

main img {
    margin: auto;
    display: block;
    width: 30vw;
}

.anuncio {
    margin-bottom: 150px;
}

.anuncio img {
    align-items: center;
    width: 15vw;
    margin: auto;
    display: block;
}

.noticias {
    margin: 70px 0 0 0;


}


.anuncio a:hover {
    background-color: #1c70ca;

}

.noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.noticias div {
    padding: 30px 20px;
}

.noticias a {
    height: 150px;
}

#groupicon {
    width: 100px;
}


.noticia {
    display: grid;
    grid-template-columns: 200px 1fr;
    font-size: 1.4em;
}

.noticia img{
    width: 100%;
    height: 100%;
}

section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);

}


.mais-lidos, .navegue-por-categorias, .noticias {
    padding: 20px;
    margin: 20px 0 0 0;
}

.mais-lidos a:hover {
    text-decoration: underline
}

.mais-lidos a {
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    color: var(--fonte-link-color);
}

.categorias > div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

article img {
    width: 200px;
}

.titulo {

    margin: 0 1vw;
}

#phone {
    width: 30px;
    padding: 0 20px;
}

#table_mrolympia {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    border-collapse: collapse;
    border: solid 1px black;
}

#table_mrolympia th,
#table_mrolympia td {
    border: solid 1px black;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#table_mrolympia th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.injetaveis, .orais{

    border-collapse: collapse;
    font-family: var(--fonte-padrao);
    border-radius: 50px;
}

td, th{
    border: 1px solid black;

}

.tr-categorias{
    background-color: rgb(133, 113, 1);
    color: #fff;
}

.td-produtos{
    background-color: #1c70ca;
    color: #fff;
}

.td-concentracao{
    text-align: center;
    background-color: green;
    color: #fff;
    width: 200px;
}

.td-preco{
    text-align: center;
    width: 70px;
    background-color: rgb(122, 0, 0);
    color: #fff;
} 

.sociais img{

    width: 40px;
    margin: 0 5px;
}



.sociais{
    text-align: center;

}

.footer-links a{
    margin: 0 15px;

}

.footer-links{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgb(71, 71, 71);
}

.patrocinadores{
    margin: 0 0 10px 0;
}


.copyright{
    background-color: #272729;
    font-size: 0.7em;
    text-align: center;
}

footer img{
    cursor: pointer;
}



/* Responsividade */

/* Tamanho de tela pequeno */
@media (max-width: 767px) {

    /*Header*/


    .logo img {
        width: 120px;
        display: block;
        margin: auto;
    }


    p,
    .nav_links a {
        font-size: 0.8em;
    }

    header ul {
        text-align: center;
    }

    #phone {
        display: none;
    }


    header {
        display: block;
        padding: 20px 0;

    }

    /*Main*/

    section {
        border: 1px solid rgb(207, 207, 207);
    }

    main {
        padding: 3%;
    }



    h1 {
        font-size: 1em;

    }

    article img {
        width: 100px;
    }

    .noticias {
        margin: 0 0 0 0;
    }

    .noticias a {
        height: 80px;
    }
    

    .section-div {
        grid-template-columns: 1fr;
        font-size: 1.1em;
    }

    .noticias {
        grid-template-columns: 1fr;
    }

    .noticias div {
        padding: 15px 20px;
    }

    aside {
        display: none;
    }

    .container {

        grid-template-columns: 1fr;

    }

    .noticia {
        font-size: 1em;
        grid-template-columns: 100px 1fr;

    }

    .noticia img{
        width: 100%;
    }

    /*Footer*/



    footer {
        font-size: 0.8em;

    }

    .footer-links > .logo, .footer-links > .invisible{
        display: none;
    }
    
    .footer-links{
        text-align: center;
    }

    .sociais img{
    width: 30px;
    }


    .sociais{
        text-align: center;
        
    }

    section h1 {
        text-align: center;
        font-size: 1em;
    }

    .footer-links  .logo{
        width: 1000px;
    }
}

/* Tamanho de tela médio */
@media (min-width: 768px) and (max-width: 1350px) {

    .noticia {
        display: grid;
        grid-template-columns: 150px 3fr;
        font-size: 1em;
    }

    .noticia a {
        height: 100px;
    }

    h1 {
        font-size: 1.1em;
    }

    article img {
        width: 100px;
    }

 
    .noticia{
        height: 90px;
    }
    
}

@media (min-width: 768px) and (max-width: 1140px) {
    .noticia {
        grid-template-columns: 150px 1fr;
        font-size: 0.7em;
    }

    .noticia img{
        width: 100%;
        height: 100%;
    }


}


/* Tamanho de tela grande */
@media (min-width: 1024px) {}

.imgas{

    width: 100%;
    height: 200px;
}

footer a {
    color: #fff;
    text-decoration: none;
}