@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins:wght@300;500;800&family=Red+Hat+Display:wght@300&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
}

.container {
    display: grid;
    margin: 0;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer"
    ;
}

header,
main,
section,
aside,
footer {
    min-height: 150px;
}

header {
    background-color: #272729;
    display: flex;
    grid-area: header;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

main {
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
    grid-area: main;
    height: 3000px;
    padding: 10px 5%;


}

aside {
    border-left: 2px solid rgb(212, 212, 212);
    background-color: #fcfcfc;
    padding: 20px 20px;
    grid-area: aside;
    height: 900px;
}

footer {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.9em;
    color: #fff;
    padding: 50px;
    grid-area: footer;
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #010626;
}

footer div {
    width: 250px;
}

footer img {
    width: 150px;
}

div footer {
    text-align: justify;
}

h1 footer{
    
    text-align: center
        ;

}




.nav_links a,
.nav_links li,
button {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none;
}

article a {
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
    color: #010626;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main p,
main h1,
main h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px 90px;


}

main hr {
    margin: 20px;
    border: 1.5px solid rgb(214, 216, 218);
}


.ultimasnoticias hr {
    border: 0.5px solid black;
}

.logo img {
    width: 200px;
}

nav {
    justify-content: space-between;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

header button {
    background-color: #1c70ca;
    border-radius: 50px;

}

main img {
    margin: auto;
    display: block;
    width: 30vw;
}

.anuncio {
    margin-bottom: 150px;
}

.anuncio img {
    align-items: center;
    padding: 30px;
    width: 15vw;
    margin: auto;
    display: block;
}

.noticias {
    margin: 70px 0 0 0;


}

.saibamais {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px 15px;
    border-radius: 25px;
    width: auto;
    background-color: #2266AF;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 0 8vw;

}

.anuncio a:hover {
    background-color: #1c70ca;

}

.noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.noticias div {
    padding: 30px 20px;
}

.noticias a {
    height: 150px;
}

#groupicon {
    width: 100px;
}


.noticia {
    display: grid;
    grid-template-columns: 200px 1fr;
    font-size: 1.4em;
}



article img {
    width: 200px;
}

.titulo {
    padding: 30px 0;
    margin: 0 3vw;
}

#phone {
    width: 30px;
    padding: 0 20px;
}

#table_mrolympia {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    border-collapse: collapse;
    border: solid 1px black;
}

#table_mrolympia th,
#table_mrolympia td {
    border: solid 1px black;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#table_mrolympia th {
    background-color: #f2f2f2;
    font-weight: bold;
}